.App {
  margin: 0 auto;
  display: table;
  width: 600px;
}
.App div {
  text-align: left;
}

.App form .form-control {
  margin-top: 20px;
}
.App label {
  font-size: 14px;
  font-weight: 600;
  margin-right: 5px;
  display: block;
  width: 100%;
  margin-bottom: 3px;
}

.App input {
  font-size: 13px;
  padding: 10px;
  display: block;
  width: 100%;
  border-radius: 10px;
  border: 1px solid;
  outline: unset;
}

button {
  padding: 10px;
  width: 100px;
  margin-top: 30px;
  margin-right: 20px;
  cursor: pointer;
  border-radius: 10px;
  outline: unset;
  border: 1px solid #000;
}

.error {
  color: red;
}

.danger-btn {
  background-color: rgb(235, 50, 50);
  color: #fff;
}
